<nav class="flex-column navbar-expand-sm">
  <button id="btn-collapse" class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#sidebar"
    aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="sidebar">
    <div class="container-fluid">
      <div class="row">
        <!-- start sidebar -->
        <div class="col-lg-2 col-sm-3 sidebar">
          <div class="flex-coloumn text-center p-3">
            <h5 class="logo">&nbsp;</h5>
          </div>

          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link sidebar-link ￼currunt" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/']">
                <i class="fa fa-home fa-lg mr-3 px-2"></i>Home</a>
            </li>
          </ul>
          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#" [routerLink]="['/']">
                <i class="fa fa-credit-card mr-3 px-2"></i>My Card</a>
            </li>
          </ul>
          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#" [routerLink]="['/']">
                <i class="fa fa-file-text-o mr-3 px-2"></i>Transactions</a>
            </li>
          </ul>

          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#">
                <i class="fa fa-eraser mr-3 px-2"></i>Payments</a>
            </li>
          </ul>

          <div class="divider m-2"></div>

          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#">
                <i class="fa fa-tachometer mr-3 px-2"></i>Departments</a>
            </li>
          </ul>

          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#">
                <i class="fa fa-users mr-3 px-2"></i>Users</a>
            </li>
          </ul>
          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#">
                <i class="fa fa-database mr-3 px-2"></i>Audit Logs</a>
            </li>
          </ul>

          <div class="divider m-2"></div>

          <ul class="navbar-nav flex-column mt-2">
            <li class="nav-item">
              <a class="nav-link  sidebar-link" href="#">
                <i class="fa fa-certificate mr-3 px-2"></i>Settings</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>