<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
   
    <!--Charts-->
    
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Spending by Category">
        <app-sales-traffic-chart></app-sales-traffic-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Online Store Sessions by Traffic Source">
        <app-store-sessions-chart></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <app-card title="Recent Transaction ">
        <!-- Transaction view -->
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>