<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><h5 class="logo">&nbsp;</h5></mat-toolbar>
   <!--  <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item.name">
        <mat-icon class="mr-4"> {{ item.icon }} </mat-icon>
        {{ item.name | titlecase }}
      </a>
    </mat-nav-list> -->
    <mat-nav-list class="px-2">

      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
        <mat-icon class="mr-2">home</mat-icon>Home
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon class="mr-2">credit_card</mat-icon>My Card
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">list_alt</mat-icon> Transactions
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">email</mat-icon> Notifications
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">monetization_on</mat-icon> Payments
      </a>
  
      <mat-divider></mat-divider>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">departure_board</mat-icon> Departments
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">group</mat-icon> Users
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">contact_phone</mat-icon> Audit Logs
      </a>
  
      <mat-divider></mat-divider>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon class="mr-2">settings</mat-icon> Settings
      </a>
  
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <!--  <span>{{toolbarTitle | titlecase}}</span> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
