.fa-sm {
    font-size: .8em;
}
.color_1 { color: #003f5c!important; }
.color_2 { color: #bc5090!important; }
.color_3 { color: #374c80!important; }
.color_4 { color: #ef5675!important; }
.color_5 { color: #7a5195!important; }
.color_6 { color: #ffa600!important; }
.color_7 { color: #ff764a!important; }
.color_8 { color: #939dac!important; }

.border-cs{
    border-top: 2px solid #dcdfe4;
    padding-top: .5rem;
    padding-bottom: .5rem;
}