@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

body {
  background-color: #f4f4f6;
  overflow: hidden;
}
.content{
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 100px;
}

.b-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all 0.2s;
  border-radius: 5px;
}

.sidebar-link:hover {
  background-color: #444;
}

.divider {
  height: 1px;
  background: silver;
}

.￼currunt {
  color: #fff !important;
  background-color: #444;
  border-radius: 7px;
  :hover {
    color: #fff;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .height {
    height: 220vh;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .height {
    height: 130vh;
  }
}

/* Large devices (desktops, 992px and up)*/
/* @media (min-width: 992px) and (max-width: 1199.98px) { 
  .height{
    height: 50vh;
  }
} */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .height {
    height: 30vh;
  }
}

@media (max-width: 672px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
    height: auto;
  }
}

@media (max-width: 450px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
    height: auto;
  }
}

#btn-collapse:hover,
#btn-collapse:focus {
  outline: none !important;
}

.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all 0.3s;
}
.card-common:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 15px #999;
}
.myshadow {
  box-shadow: 1px 2px 5px #999;
}
.tasks {
  background: white;
  box-shadow: 1px 2px 5px #999;
  border-radius: 5px;
}

.logo {
  background-image: url("./assets/images/img.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
}


.font-sm {
  font-size: .85rem !important;
}
.font-md {
  font-size: .929rem !important;
}

.font-lg {
  font-size: 1rem !important;
}

.font-xl {
  font-size: 1.25rem !important;
}

.font-2xl {
  font-size: 1.5rem !important;
}

.font-3xl {
  font-size: 1.75rem !important;
}

.font-4xl {
  font-size: 2rem !important;
}

.font-5xl {
  font-size: 2.5rem !important;
}
